.main{
    background-color:#61CE70;
    color: white;
    text-align: left;
    padding-left: 100px;
    word-spacing: 5px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9), 0 4px 8px rgba(0, 0, 0, 0.06);
}
